{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <!-- Header Close -->
    <div class="main-wrapper ">
        {#        {% for banner in banners %}#}
        <section class="page-title  bg-2"> {# bg rasm #}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="home/index.html"
                                                            class="text-sm letter-spacing text-white text-uppercase font-weight-bold">Home</a>
                            </li>
                            <li class="list-inline-item"><span class="text-white">|</span></li>
                            <li class="list-inline-item"><a href="#"
                                                            class="text-color text-uppercase text-sm letter-spacing">contact</a>
                            </li>
                        </ul>
                        {% for banner in banners %}
                            <h1 class="text-lg text-white mt-2">{{ banner.contact_title }}</h1>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {#    {% endfor %}#}


        <!-- contact form start -->
        <section class="contact-form section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        {% for contact_send in contact_sends %}
                            <div class="section-title">
                                <div class="divider mb-3"></div>
                                <h2>{{ contact_send.title }}</h2>
                                <p class="mt-3">{{ contact_send.sub_title|truncatewords:"40" }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row justify-content-center pb-5">
                    <div class="col-lg-9 text-center">
                        <form method="post" action="http://localhost:8000/contact/" id="contact-form">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Submit</button>
{#                            <div class="form-row">#}
{#                                <div class="col-lg-6 col-md-6 col-sm-12">#}
{#                                    <div class="form-group">#}
{#                                        <input name="name" type="text" class="form-control"#}
{#                                               placeholder="Your Name">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-6 col-md-6 col-sm-12">#}
{#                                    <div class="form-group">#}
{#                                        <input name="email" type="text" class="form-control"#}
{#                                               placeholder="Email Address">#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="col-lg-12 col-md-12 col-sm-12">#}
{#                                    <div class="form-group-2">#}
{#                                        <textarea name="message" class="form-control" rows="8"#}
{#                                                  placeholder="Your Message"></textarea>#}
{#                                    </div>#}
{##}
{#                                    <div class="text-center">#}
{#                                        <button class="btn btn-main mt-3 " type="submit">Send Message</button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="error" id="error">Sorry Msg dose not sent</div>#}
{#                            <div class="success" id="success">Message Sent</div>#}
                        </form>
                    </div>
                </div>
            </div>

            <div class="google-map position-relative mt-5">
                <div class="map" id="map_canvas" data-latitude="51.507351" data-longitude="-0.127758"
                     data-marker="{% static 'images/marker.png' %}">

                </div>
            </div>

            <div class="container mt--170">

                <div class="row">
                    {% for contact in contacts %}
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="card rounded-0 border-0 shadow-sm text-center py-5 px-4 contact-info">
                                <i class="ti-mobile mb-3 text-lg text-color"></i>
                                <span>Call us</span>
                                <p class="lead text-black mb-0 mt-3">{{ contact.phone }}</p>
                                <p class="lead">{{ contact.from_time }} am - {{ contact.to_time }} pm</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="card rounded-0 border-0 shadow-sm text-center py-5 px-4 contact-info">
                                <i class="ti-email mb-3 text-lg text-color"></i>
                                <span>Email at</span>
                                <p class="lead text-black mt-3 mb-0">{{ contact.email }}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <div class="card rounded-0 border-0 shadow-sm text-center py-5 px-4 contact-info">
                                <i class="ti-home mb-3 text-lg text-color"></i>
                                <span>Location</span>
                                <p class="lead text-black mt-3">{{ contact.location }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section>
    </div>
{% endblock %}
