{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <!-- Header Close -->
    <div class="main-wrapper ">
        {#        {% for banner in banners %}#}
        <section class="page-title  bg-2"> {# bg rasm #}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="{% url "home:main" %}"
                                                            class="text-sm letter-spacing text-white text-uppercase font-weight-bold">Home</a>
                            </li>
                            <li class="list-inline-item"><span class="text-white">|</span></li>
                            <li class="list-inline-item text-color text-uppercase text-sm letter-spacing">{% translate "Contact" %}</li>
                        </ul>
                        {% for banner in banners %}
                            <h1 class="text-lg text-white mt-2">{{ banner.contact_title }}</h1>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {#    {% endfor %}#}


        <!-- contact form start -->
        <section class="contact-form section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        {% for contact_send in contact_sends %}
                            <div class="section-title">
                                <div class="divider mb-3"></div>
                                <h2>{{ contact_send.title }}</h2>
                                <p class="mt-3">{{ contact_send.sub_title|truncatewords:"40" }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="google-map position-relative mt-5">
                    <div class="map_outer">
                        <div class="gmap_canvas">
                            <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0"
                                    marginwidth="0"
                                    src="https://maps.google.com/maps?width=1350&amp;height=450&amp;hl=en&amp;q=Uzbekistan&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                            <a href="https://formatjson.org/"></a>
                        </div>
                        <style>
                            .map_outer {
                                position: relative;
                                text-align: right;
                                width: 100%;
                                height: 450px;
                            }

                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                width: 100%;
                                height: 450px;
                            }

                            .gmap_iframe {
                                height: 450px !important;
                            }
                        </style>
                    </div>
                </div>

                <div class="container mt--170">

                    <div class="row">
                        {% for contact in contacts %}
                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <div class="card rounded-0 border-1 shadow-sm text-center py-5 px-4 contact-info"
                                     style="height: 300px;">
                                    <i class="ti-mobile mb-3 text-lg text-color"></i>
                                    <span>{% translate "Call us" %}</span>
                                    <p class="lead text-black mb-0 mt-3">{{ contact.phone }}</p>
                                    <p class="lead">{{ contact.from_time }} {% translate "am" %} - {{ contact.to_time }}
                                        {% translate "pm" %}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <div class="card rounded-0 border-1 shadow-sm text-center py-5 px-4 contact-info"
                                     style="height: 300px;">
                                    <i class="ti-email mb-3 text-lg text-color"></i>
                                    <span>{% translate "Email at" %}</span>
                                    <p class="lead text-black mt-3 mb-0">{{ contact.email }}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <div class="card rounded-0 border-1 shadow-sm text-center py-5 px-4 contact-info"
                                     style="height: 300px;">
                                    <i class="ti-home mb-3 text-lg text-color"></i>
                                    <span>{% translate "Location" %}</span>
                                    <p class="lead text-black mt-3">{{ contact.location }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
        </section>
    </div>
{% endblock %}
